.create-docter-form {
  border-radius: 15px;
  background-color: #014940;
  border: 0px solid transparent;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  width: 60%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.create-docter-form-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 45px;
  color: #ffffff;
}

.create-docter-input-container {
  border-radius: 15px;
  background-color: #00a390;
  width: 80%;
  height: 100%;
  margin-bottom: 5%;
  padding: 15px;
}

.create-docter-input {
  border: 0px solid #00a390;
  color: #000000;
  border-radius: 5px;
  height: 25px;
  width: 90%;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px;
}

.create-docter-submit-btn {
  border: 0px solid #014940;
  color: #ffffff;
  border-radius: 5px;
  background: #014940;
  width: 90%;
  height: 45px;
  margin-top: 20px;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
}