.navbar {
  background-color: red;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  color: white;
  text-decoration: none;
}
