.dashboardMain {
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 2%;
	margin-bottom: -200%;
}

.dashboardHeader {
	align-self: center;
	font-size: 2.25rem;
	font-weight: bold;
	color: #1e3a8a;
	border-bottom: 4px solid #1e3a8a;
	width: 28%;
	margin-left: 4%;
}

.dashboardContent {
	display: flex;
	flex-grow: 1;
	width: 75%;
	padding: 40px;
	background-color: #e0f2fe;
	border-radius: 70px;
	max-height: calc(100vh - 250px);
	overflow: hidden;
}

.dashboardInnerContent {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 3rem 4rem 0rem 4rem;
	background-color: white;
	border-radius: 3.5625rem;
	overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
	max-width: 100%;
	max-height: 100%; /* Ensure it respects parent's max height */
}

.dashboardInnerHeader {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: flex-start;
}

.dashboardInnerHeader h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #1e3a8a;
	margin-bottom: 0.5rem;
}

.dashboardInnerHeader hr {
	border: 2px solid #1e3a8a;
	background-color: #1e3a8a;
	margin: 1px;
	width: 100%;
}

.dashboardSort {
	display: flex;
	gap: 1.25rem;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	border: 1px solid #ef4444;
	border-radius: 0.25rem;
	color: #ef4444;
}

.dashboardSort img {
	aspect-ratio: 2.5;
	width: 15px;
}

.patientCard {
	display: flex;
	align-items: center;
	margin-top: 1.25rem;
	color: #1e3a8a;
}

.patientCardTime {
	padding: 2.1rem 0.875rem;
	font-size: 0.875rem;
	margin-right: 5px;
	font-weight: 600;
	background-color: #e0f2fe;
	border-radius: 1.25rem 0 1.25rem 0;
	white-space: nowrap;
}

.patientCardTime p {
	margin: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: bold;
}

.patientCardMain {
	display: flex;
	flex-grow: 1;
	align-items: center;
	gap: 0.625rem;
	padding: 0.375rem 0.875rem;
	background-color: #e0f2fe;
}

.patientCardImage {
	flex-shrink: 0;
	border: 2px solid #e0f2fe;
	width: 86px;
}

.patientCardDetails {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: 1.25rem;
	padding: 0.25rem 1.5rem; /* Adjusted padding */
	background-color: white;
	border-radius: 1.25rem;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1608); /* Added drop shadow */
	max-width: 100%;
	font-size: 0.7vw;
}

.patientCardDetails p {
	margin: 0; /* Remove default margin for <p> elements */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1.25rem;
  padding: 0.25rem 1.5rem; 
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1608); 
  max-width: 100%;
  font-size: 0.7vw;
}

.patientCardName,
.patientCardAge,
.patientCardDiagnosis,
.patientCardMedication,
.patientCardAppointments {
	margin: 0;
	font-weight: bold;
}

.patientCardOptionsButton {
	min-height: 106px;
	border: none;
	margin-left: 5px;
	min-width: 5rem;
	justify-content: center;
	text-align: center;
	font-size: 1.5rem;
	font-style: bold;
	color: #1e3a8a;
	background-color: #e0f2fe;
	border-radius: 0 1.25rem 0 1.25rem;
}

.patientCardOptionsButton:hover {
	background-color: #b6e1fd;
}

.patientCardOptions button h3 {
	margin: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: 1000;
}

.dashboardInnerContent::-webkit-scrollbar {
	display: none;
}
