/* src/pages/DoctorPage.css */
.doctor-page {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #e6ffe6;
  color: #333;
}

.doctor-page h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.doctor-page p {
  font-size: 1.2em;
  color: #666;
}