.popup-overlay {
	position: fixed;
	display: flex;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup-content {
	background: #1a1e4f;
	color: #ffffff;
	padding: 10px 40px 40px 40px;
	border-radius: 12px;
	width: 30%;
	height: 43vh;
	border: 2px #ff6600 solid;
}

.popup-content h1 {
	padding-bottom: 10px;
	color: #ffffff;
	border-bottom: 2px #ff6600 solid;
	font-size: 3rem;
}

.popup-content p {
	margin-bottom: 3%;
	line-height: 1.5;
}

.popup-content label {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 2%;
	color: #ffffff;
}

.popup-content input {
	width: calc(100% - 40px);
	margin-bottom: 5%;
	padding: 10px 20px;
	background-color: #232969;
	color: #ffffff;
	border: 2px solid #013e7a;
	border-radius: 20px;
}

.popup-content input:focus {
	border-color: #96a4f0;
	transition:
		ease-in-out,
		border-color 0.25s ease-in-out;

	outline: none;
}

.button-group {
	display: flex;
	width: 100%;
}

.cancel-button,
.submit-button {
	flex: 1;
	padding: 0;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
}

.cancel-button {
	background-color: #4c4f9e;
	color: #ffffff !important;
	margin-right: 30%;
}

.submit-button {
	background-color: #ff6600;
	color: #ffffff;
}

.popup-content .source {
	font-size: 12px;
	margin-top: 20px;
}

.popup-content .source a {
	color: #ff6600;
	text-decoration: none;
}

.popup-content .source a:hover {
	text-decoration: underline;
}
