.notes-container {
  background-color: #c2d6ff;
  border-radius: 15px;
  width: 95%;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 1.5%;
  padding-top: 1%;
  padding-right: 1.5%;
  height: 80%;
}

.notes-title {
  font-size: 25px;
  color: #f0f0f0;
}

.notes-background {
  background-color: #000000;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30px;
  height: 90%;
  width: 80%;
  padding-left: 3%;
  padding-top: 0.5rem;
  padding-right: 3%;
}

.notes-filter {
  font-size: 25px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}