.main-contaier-reset-password {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f2f5f9;
	padding: 20px;
}

.reset-password-form {
	margin: 2% auto;
	border-radius: 10px;
	background-color: #ffffff;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reset-password-form h1 {
	margin-bottom: 20px;
	color: #003366;
	font-size: 1.8rem;
	text-align: center;
	font-weight: bold;
}

.new-password-input-container {
	position: relative;
	width: 100%;
}

.password-input {
	padding-right: 40px;
	width: calc(100% - 20px);
	padding: 10px;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
}

.password-toggle-icon {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	right: 10px;
	cursor: pointer;
}

.password-toggle-icon img {
	width: 24px;
	height: 24px;
}

.password-validation-check {
	list-style-type: none;
	padding-left: 0;
}

.valid::before {
	content: "✔";
	margin-right: 0.5rem;
}

.valid {
	color: green;
}

.invalid::before {
	content: "✘";
	margin-right: 0.5rem;
}

.invalid {
	color: red;
}

.new-password-container,
.check-password-container {
	margin-bottom: 20px;
}

.label-wrapper {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #333;
}

.button-container {
	display: flex;
	margin-top: 20px;
}

.cancel-button {
	width: 100%;
	max-width: 200px;
	height: 40px;
	padding: 10px;
	background-color: #1b21d4;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.cancel-button:hover {
	background-color: #1419a6;
}

.reset-button {
	width: 100%;
	max-width: 200px;
	height: 40px;
	padding: 10px;
	background-color: #1b21d4;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.reset-button:hover {
	background-color: #1419a6;
}
