.about-us-page {
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
	background-color: #fff8dc;
	color: #333;
}

.about-us-page h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.about-us-page p {
	font-size: 1.2em;
	color: #666;
}
