/* NotFoundPage.css */
.not-found-container {
	text-align: center;
	padding: 20px;
	font-family: Arial, sans-serif;
}

.error-image {
	max-width: 1000px;
	margin: 20px auto;
}

.page-not-found-button {
	background-color: #5b92e5;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.page-not-found-button:hover {
	background-color: #4a7cc3;
}
