.appointment-planner {
  background-color: #D8EAFF;
  width: 40%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  padding: 40px;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #000369;
  font-family: Arial, sans-serif;
}

.title-with-underline {
  font-weight: bold;
  position: relative;
  color: #000369;
  font-size: 25px; 
}

.title-with-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: calc(100% + -100px);
  height: 1.5px;
  background-color: #000369;
}

.title-section {
  margin-bottom: 20px;
}

.title-of-title-bar {
  font-size: 20px; 
  color: #000369;
}

.appointment-form {
  margin-top: 10px;
  margin-bottom: 20px;
}

.title-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 1px solid #ccc; 
  border-radius: 10px;
  transition: background-color 0.3s ease; 
}

.title-input:hover {
  background-color: #f0f0f0; 
}

.title-input:focus {
  background-color: white; 
  border-color: #999; 
  outline: none; 
}

.repetition-section {
  margin-bottom: 20px;
}

.title-of-repetition {
  font-size: 20px; 
  color: #000369;
  left: 2009px;

}.optional {
  font-size: 12px; 
  color: #000369; 
  margin-left: 5px; 
}

.repetition-options {
  display: flex;
}

.repetition-options label {
  margin-left: 20px; 
}

.transparent-rectangle-daily {
  width: 115px; 
  position: absolute;
  height: 40px; 
  top: 230px;
  left: 55px;
  border: 3px solid #1B21D4; 
  background-color: transparent; 
  border-radius: 20px;
}

.transparent-rectangle-weekly {
  width: 115px; 
  position: absolute;
  height: 40px; 
  top: 230px;
  left: 169px;
  border: 3px solid #1B21D4; 
  background-color: transparent; 
  border-radius: 20px;
}

.transparent-rectangle-monthly {
  width: 115px; 
  position: absolute;
  height: 40px; 
  top: 230px;
  left: 285px;
  border: 3px solid #1B21D4; 
  background-color: transparent; 
  border-radius: 20px;
}

.title-of-information-appointment {
  font-size: 20px; 
  position: absolute;
  color: #000369;
  top: 280px;
}
