/* Container for the form or the part of the form you want to apply grid layout */
.maincontainercn {
  
  border: 30px solid #d8eaff;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 60%;
  max-height: 500px;
  overflow-y: auto;
  }
.titlecn {
  text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
  text-decoration: underline;
  ;   
}

.form-grid-container {
    display: grid;
    grid-template-columns: 10px, 1px; /* Adjust based on your design needs */
    gap: 10px; /* Adjust the gap between label and input */
    align-items: center;
  }
  
  .form-wrapper {
    background-color: #d8eaff; /* Light blue background */
    color: #000; /* Optionally set text color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .label {
    text-align: right;
  }
  
  .input-field, .submitcn {

    grid-column: 2 / 3; /* Ensures inputs and submit button start at the same point */
  }
  .input {
    background-color: #f0f0f0; /* Light gray background */
    color: #000; /* Black text color */
    border: 1px solid #ccc; /* Optional: adds a light gray border */
  }
.firstnamecn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
  
}
.lastnamecn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.emailcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.agecn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.phonenumbercn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.sexcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.malecn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
  
}
.malebuttoncn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.femalebuttoncn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.femalecn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}

.firstnamecontactcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.lastnamecontactcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.emailcontactcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.phonenumbercontactcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.specialistcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.notecn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
}
.medicationcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
} 
.appointmentcn {
    text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  color: #000369;
} 
.submitcn {
  text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  background-color: white;
  color: #000369;
  text-decoration: underline;
}
