.settings-containers-background {
  background-color: #c2d6ff;
  border-radius: 1rem;
  height: 80%;
  padding: 1rem;
  width: 100%;
}

.settins-container {
  background-color: #ffffff;
  border-radius: 10px;
}

.settings-item-container {
  background-color: #c2d6ff;
  border-radius: 2rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

.settings-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #D8EAFF;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 1rem;
  width: 90%;
  padding-top: 0rem;
  margin-bottom: 1rem;
}

.element-name {
  font-size: 1.5rem;
  font-weight: 500;
}