.patientlist-container {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.patientlist-title {
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.patientlist-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #D8EAFF;
  border-radius: 10px;
  color: #000369;
  font-weight: bold;
  margin-bottom: 10px;
}

.patient-row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.patient-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.patient-name,
.patient-birthdate,
.patient-diagnosis,
.patient-appointments {
  flex: 1;
  text-align: left;
  padding: 0 10px;
  color: #333;
}

.options-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8EAFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #000369;
  font-weight: bold;
  cursor: pointer;
}
