.sidebar {
    width: 250px;
    background-color: #E8EDF8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 14px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  hr {
    border: 1px solid #D0D5DD;
    margin: 20px 0;
  }
  
  .settings-logout ul {
    list-style-type: none;
    padding: 0;
    margin-top: auto;
  }
  
  .settings-logout ul li {    
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .settings-icon{
    background: url(../../../public/Icons/Logout.svg) no-repeat 15px;
    padding-left: 55px;
    background-size: 34px;
  }

  .logout-icon{
    background: url(../../../public/Icons/Logout.svg) no-repeat 15px;
    padding-left: 55px;
    background-size: 34px;
  }