/*Everything related to how the bar itself looks/works*/
.sidebar {
    width: 250px;
    background-color: #E8EDF8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  /*Everything for the logo*/
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .dashboard-icon {
    background: url(../../../public/Icons/Dashboard.svg) no-repeat 15px;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-size: 34px;
    height: 35px;
  }

  .calendar-icon {
    background: url(../../../public/Icons/Calendar.svg) no-repeat 15px;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-size: 34px;
    height: 35px;
  }

  .documents-icon {
    background: url(../../../public/Icons/Documents.svg) no-repeat 15px;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-size: 34px;
    height: 35px;
  }

  .patients-icon {
    background: url(../../../public/Icons/Patients.svg) no-repeat 15px;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-size: 34px;
    height: 35px;
  }

  /* Makes all text align to left*/
  nav ul { 
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  /*The small line that seperates elements*/
  hr {
    border: 2px solid #D0D5DD;
    margin: 20px 0;
  }
  
  /*Div for logout and settings*/
  .settings-logout ul {
    list-style-type: none;
    padding: 0;
    margin-top: auto;
  }
  
  /*List for logout and settings*/
  .settings-logout ul li {    
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 15px;
  }

  /*Icon for settings*/
  .settings-icon {
    background: url(../../../public/Icons/Settings.svg) no-repeat 15px;
    padding-left: 55px;
    padding-bottom: 10px;
    background-size: 34px;
  }

  /*Icon for logout*/
  .logout-icon {
    background: url(../../../public/Icons/Logout.svg) no-repeat 15px;
    padding-left: 55px;
    padding-bottom: 10px;
    background-size: 34px;
  }