.switch-container {
  width: 10%;
  height: 5%;
}

.switch-default-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-default-checkbox:checked + .switch-slider {
  background-color: #2196f3;
}

.switch-default-checkbox:focus + .switch-slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch-default-checkbox:checked + .switch-slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #c2d6ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 0.25rem;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}