{
	"printWidth": 250,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "consistent",
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"htmlWhitespaceSensitivity": "css",
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "never",
	"endOfLine": "auto"
}
